body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 20px auto;
}
.pagination {
  display: flex;
  margin-top: 100px;
  gap: 10px;
  margin-left: 0px;
}
.pani {
  display: flex;
  gap: 5px;

  flex-wrap: wrap;
}
.paniItem {
  padding: 4px 12px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.address {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 50px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
