body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 20px auto;
  z-index: 10;
}
.pagination {
  display: flex;
  margin-top: 100px;
  gap: 10px;
  margin-left: 0px;
}
.pani {
  display: flex;
  gap: 5px;

  flex-wrap: wrap;
}
.paniItem {
  padding: 4px 12px;
  background: #000;
  color: #fff;
  cursor: pointer;
}
.address {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: 50px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.popup {
  display: flex;
  flex-direction: column;
  padding: 1px 2px;
  text-align: center;
  font-size: 14px;
}
.relative {
  position: relative;
  width: 200px;
}
p {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  inset: 0;
  background: #000;
}
.loading::before {
  z-index: 100;
  content: "";
  display: block;
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 4px solid red;
  border-radius: 50%;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  animation: ani 0.3s ease infinite;
}

@keyframes ani {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(180deg);
  }
}
.mapboxgl-ctrl {
  display: none;
}
